<div xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Додади или промени ги информациите за бензинската пумпа</h1>
    </div>
</section>

<div class="container">
    <div class="row" style="position: center">
        <div class="col-md-5">
            <form th:method="POST" th:action="@{/showAndAddFuel/add-fuel}">
                <input id="id" type="hidden" name="id" th:value="(${selectedFuel} != null ? ${selectedFuel.getId()} : '')">

                <div class="form-group">
                    <label for="imageUrl">Лого</label>
                    <input type="text"
                           class="form-control"
                           id="imageUrl"
                           name="imageUrl"
                           th:value="(${selectedFuel} != null ? ${selectedFuel.getImageUrl()} : '')"
                           required
                           placeholder="Enter fuel logo">
                </div>

                <div class="form-group">
                    <label for="fuelName">Име</label>
                    <input type="text"
                           class="form-control"
                           id="fuelName"
                           name="fuelName"
                           th:value="(${selectedFuel} != null ? ${selectedFuel.getName()} : '')"
                           required
                           placeholder="Enter fuel name">
                </div>
                <div class="form-group">
                    <label for="fuelLat">Географска ширина</label>
                    <input type="text"
                           class="form-control"
                           id="fuelLat"
                           name="fuelLat"
                           th:value="(${selectedFuel} != null ? ${selectedFuel.getLatitude()} : '')"
                           required
                           placeholder="Latitude">
                </div>
                <div class="form-group">
                    <label for="fuelLong">Географска должина</label>
                    <input type="text"
                           class="form-control"
                           id="fuelLong"
                           name="fuelLong"
                           th:value="(${selectedFuel} != null ? ${selectedFuel.getLongitude()} : '')"
                           required
                           placeholder="Longitude">
                </div>
                <div class="form-group">
                    <label for="pageLink">Линк до веб сајт</label>
                    <input type="text"
                           class="form-control"
                           id="pageLink"
                           name="pageLink"
                           th:value="(${selectedFuel} != null ? ${selectedFuel.getPageLink()} : '')"
                           required
                           placeholder="PageLink">
                </div>
                <button id="addFuelSubmit" type="submit" class="btn btn-secondary">Поднеси</button>
                <a type="button" class="btn btn-secondary" th:href="@{/showAndAddFuel}">Назад</a> <br/><br/>
            </form>
        </div>
    </div>
</div>
</div>