<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Додади нова улица</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body style="background-color: #cedbd8">
<nav class="navbar navbar-expand-md navbar-light" style="background-color: cadetblue;" >
    <div class="container">
        <a class="navbar-brand" href="/home" style="font-style: oblique; font-family:'Andale Mono', monospace; color: aliceblue">Бензински пумпи</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/home" style="font-family:'Andale Mono', monospace; color: aliceblue">Почетна</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li class="nav-item"><a class="nav-link" th:href="@{/changeProfile}">
                    <th:block th:if="${#request.getRemoteUser() != null}" th:text="${#request.getRemoteUser()}">

                    </th:block></a></li>
                <li class="nav-item"><a class="btn btn-light btn-sm ml-3" href="/logout">
                    <i class="fa fa-shopping-cart" style="font-family:'Andale Mono', monospace; font-style: oblique; margin-top: 15px"></i> Одјави се
                </a></li>
            </ul>

        </div>
    </div>
</nav>

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Додади или промени улица</h1>
    </div>
</section>

<div class="container" style="align-items: center">
    <div class="row">
        <div class="col-md-5">
            <form th:method="POST" th:action="@{/showAndAddStreet/add-street}">
                <input id="id" type="hidden" name="id" th:value="(${selectedStreet} != null ? ${selectedStreet.getId()} : '')">
                <div class="form-group">
                    <label for="streetName">Име на улица</label>
                    <input type="text"
                           class="form-control"
                           id="streetName"
                           name="streetName"
                           th:value="(${selectedStreet} != null ? ${selectedStreet.getName()} : '')"
                           required
                           placeholder="Enter street name">
                </div>
                <div class="form-group">
                    <label for="streetLat">Географска ширина</label>
                    <input type="text"
                           class="form-control"
                           id="streetLat"
                           name="streetLat"
                           th:value="(${selectedStreet} != null ? ${selectedStreet.getLatitude()} : '')"
                           required
                           placeholder="Latitude">
                </div>
                <div class="form-group">
                    <label for="streetLong">Географска должина</label>
                    <input type="text"
                           class="form-control"
                           id="streetLong"
                           name="streetLong"
                           th:value="(${selectedStreet} != null ? ${selectedStreet.getLongitude()} : '')"
                           required
                           placeholder="Longitude">
                </div>
                <button id="addStreetSubmit" type="submit" class="btn btn-secondary">Поднеси</button>
                <a type="button" class="btn btn-secondary" th:href="@{/showAndAddStreet}" style="font-family:'Andale Mono', monospace">Назад</a>
            </form><hr>
        </div>
    </div>
</div>
<footer class="text-center p-3" style="background-color: cadetblue">
    © 2021 Copyright: Team SIT
</footer>
</body>
</html>