<div xmlns:th="http://www.thymeleaf.org">

<section class="jumbotron text-center" style="background-image: url('https://engineering.q42.nl/content/images/2019/09/2019-06-05---Adapting-to-the-new--allow-just-once--location-permission-in-iOS-13.png'); height: 900px">
    <div class="container" style="float: right">
        <h1 class="jumbotron-heading" style="padding-left: 200px; font-family: 'Arial Narrow',serif; font-weight: bold; font-style: italic; padding-top: 150px; padding-bottom: 20px; font-size: 45px" >БЕНЗИНСКИ ПУМПИ</h1>

        <div>
            <form th:method="POST" th:action="@{/home}">
                <label for="location" style="font-family: 'Cambria Math', serif; padding-left: 200px; font-size: 30px">Внесете ја Вашата локација: </label>
                <br/>

                <select id="location" name="location" style="font-family: 'Arial Rounded MT Bold', sans-serif; font-style: italic; margin-left: 200px;" >
                    <option class="streetsShown" th:each="street:${streets}" th:text="${street.getName()}" th:value="${street.getName()}">
                    </option>
                </select>
                <br/><br/>
                <button type="submit" id="locationButton" class="btn btn-info" style="margin-left: 160px;">Поднеси</button>
            </form>

            <div th:if="${hasError}" th:text="${error}" class="text-danger" style="padding-left: 200px;"></div>

        </div>

    </div>
    <br/><br/><br/><br/><br/><br/>

</section>
<hr>
</div>