<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Login - Fuels</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

</head>
<body>
<div class="container-fluid text-center">
    <div>
        <img class="img-fluid" src="https://t3.ftcdn.net/jpg/01/58/82/22/360_F_158822284_ByvTJH8jWz15jY4hBqDKDW8jbEMS2v54.jpg" />
    </div>
    <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto;">


       <div th:if="${hasError}">
            <p th:text="${error}" class="text-danger"></p>
      </div>
        <div class="border border-secondary p-3 rounded">
            <p>Access to Fuels App</p>
            <p>
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required=""
                       autofocus="">
            </p>
            <p>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                       required="">
            </p>

            <p>
                <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Sign in</button>
            </p>
            <p>
                <a href="/register" class="btn btn-block btn-light">Register here</a>
            </p>
        </div>
    </form>
</div>
</body>
</html>