<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Register - Fuels</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body >
<div class="container-fluid text-center">
    <div>
        <img class="img-fluid" src="https://t3.ftcdn.net/jpg/01/58/82/22/360_F_158822284_ByvTJH8jWz15jY4hBqDKDW8jbEMS2v54.jpg" />
    </div>
    <form th:action="@{/register}" method="post" style="max-width: 350px; margin: 0 auto;">

        <div th:if="${hasError}" th:text="${error}" class="text-danger"></div>

        <div class="border border-secondary p-3 rounded">
            <p>Registration</p>
            <p>
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" autofocus="">
            </p>

            <p>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                       required="">
            </p>
            <p>
                <label for="repeatedPassword" class="sr-only">Repeat Password</label>
                <input type="password" id="repeatedPassword" name="repeatedPassword" class="form-control" placeholder="Repeat Password" required="">
            </p>
            <p>
                <label for="name" class="sr-only">Name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Name" required="" autofocus="">
            </p>
            <p>
                <label for="surname" class="sr-only">Surname</label>
                <input type="text" id="surname" name="surname" class="form-control" placeholder="Surname" required="" autofocus="">
            </p>
            <button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
            <br/>
            <a href="/login" class="btn btn-block btn-light">Already have an account? Login here!</a>
        </div>
    </form>
</div>
</body>
</html>