<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Прикажи бензински пумпи</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body style="background-color: #cedbd8">
<nav class="navbar navbar-expand-md navbar-light" style="background-color: cadetblue;" >
    <div class="container">
        <a class="navbar-brand" href="/home" style="font-style: oblique; font-family:'Andale Mono', monospace; color: aliceblue">Бензински пумпи</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/home" style="font-family:'Andale Mono', monospace; color: aliceblue">Почетна</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li class="nav-item"><a class="nav-link" th:href="@{/changeProfile}">
                    <th:block th:if="${#request.getRemoteUser() != null}" th:text="${#request.getRemoteUser()}">

                    </th:block></a></li>
                <li class="nav-item"><a class="btn btn-light btn-sm ml-3" href="/logout">
                    <i class="fa fa-shopping-cart" style="font-family:'Andale Mono', monospace; font-style: oblique; margin-top: 15px"></i> Одјави се
                </a></li>
            </ul>
        </div>
    </div><br/><br/><br/>
</nav>

<section class="jumbotron text-center">
    <div class="container">
        <h3 style="font-family: 'Arial Rounded MT Bold',sans-serif">Најблиските бензински пумпи до Вашата локација</h3>
        <h3 style="font-family: 'Arial Rounded MT Bold', sans-serif; font-style: oblique; color: darkslategray" th:text="${session.location}"></h3> <br/><hr><br/>
        <div style="float: left; padding-left: 210px">
            <form th:action="@{/showFuels}" th:method="POST">
                <ul style="list-style: none">
                    <b style="font-family: 'Arial Rounded MT Bold',sans-serif; font-style: oblique">Име</b><br/>
                    <li th:each="fuel:${fuels}">

                        <input style="font-weight: bold" type="radio" name="chosenFuel" th:text="${fuel.getName()}" th:value="${fuel.getName()}">
                    </li>
                </ul>
                <button type="submit" class="btn btn-outline-secondary" style="margin-left: 190px; color: darkgreen;margin-top: 40px; margin-right: 15px; text-decoration: none; font-family: 'Arial Rounded MT Bold', sans-serif">Поднеси</button>
            </form>
        </div>

        <div style="display: inline; float: left">
            <ul style="list-style: none">
                <b style="font-family: 'Arial Rounded MT Bold',sans-serif; font-style: oblique">Растојание во km</b><br/>
                <li th:each="distance:${distances}" style="font-weight: bold" th:text="${distance}"></li>
            </ul>
        </div>

        <div style="display: inline; float: left">
            <ul style="list-style: none">
                <b style="font-family: 'Arial Rounded MT Bold',sans-serif; font-style: oblique">Време на пристигнување</b><br/>
                <li th:each="time:${times}" style="font-weight: bold" th:text="${time}"></li>
            </ul>
        </div><br/><br/>

    </div>
    <br/><br/><hr>
    <div class="container" style="align-items: center; padding-right: 100px">
        <a type="button" class="btn btn-info" href="/home" style="margin-left: -390px; font-family: 'Arial Rounded MT Bold', sans-serif">Назад</a>
    </div>

</section>

<!-- Footer -->
<footer class="text-black-50 mt-xl-5">
    <div class="container" style="align-items: center">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>За нас</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    Ние сме Веб сајт кој Ви овозможува со помош на Вашиот профил да ја пронајдете најблиската бензинска пумпа од Вашата локација.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>Линкови до некои мапи</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a style="color: darkgreen" href="https://www.openstreetmap.org/#map=10/41.9143/21.3863">OpenStreetMap</a></li>
                    <li><a style="color: darkgreen" href="https://www.google.com/maps">Google Maps</a></li>
                </ul>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Контакт</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i>Теодора Периќ</li>
                    <li><i class="fa fa-envelope mr-2"></i>tea.perik@yahoo.com</li>
                    <li><i class="fa fa-phone mr-2"></i> 075/249-675</li><br/>

                    <li><i class="fa fa-home mr-2"></i>Ива Угриноска</li>
                    <li><i class="fa fa-envelope mr-2"></i> iva.ugrinoska@yahoo.com</li>
                    <li><i class="fa fa-phone mr-2"></i> 071/233-455</li><br/>

                    <li><i class="fa fa-home mr-2"></i>Сара Паункоска</li>
                    <li><i class="fa fa-envelope mr-2"></i> sara.paunkoska@yahoo.com</li>
                    <li><i class="fa fa-print mr-2"></i>070/123-452</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: cadetblue">
        © 2021 Copyright: Team SIT
    </div>
</footer>
</body>
</html>